.tools/
.dart_tool/
.flutter-plugins*
.idea/
build/
coverage/
*.iml
android/local.properties
android/key.properties
*.jks
*.keystore
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
config/local.json
*.log
docs/handoffs/
.staging/

test/failures/

